{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password - Samvidhan Connect</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="{% static 'styles/forgot_password.css' %}">
  <link rel="icon" href="{% static 'images/Logo.png' %}">

</head>
<body>
  <div class="wrapper">
    <h2>Forgot Password</h2>
    {% if messages %}
      <div class="alert" role="alert">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="input-field">
        <input type="email" name="email" required>
        <label>Enter your email</label>
      </div>
      <button type="submit">Send OTP</button>
    </form>
    <div class="back-link">
      <p>Remember your password? <a href="{% url 'login' %}">Go back to Login</a></p>
    </div>
  </div>
</body>
</html>
